@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&family=Young+Serif&display=swap");
footer {
  background-color: #000000;
  color: #fff;
  padding: 1rem;
  text-align: center;
}
footer p {
  margin-top: 10px;
}

.redes-sociales {
  max-width: 900px;
  margin: 0 auto;
}

.social-media a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-size: large;
}
.social-media a .icono-facebook {
  background-color: #4267B2;
}
.social-media a .icono-twitter {
  background-color: #1DA1F2;
}
.social-media a .icono-instagram {
  background-color: #F56040;
}
.social-media a .icono-youtube {
  background-color: #FF0000;
}
.social-media a:hover {
  text-decoration: underline;
}

.footer-logo img {
  width: 100px;
  height: auto;
  background-color: #fff;
}

.footer-info p {
  margin: 1;
  font-size: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.root {
  font-size: 16px;
}

body {
  font-family: "Montserrat", sans-serif;
}
body ::selection {
  background-color: #8a8989;
}

.historia p {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 0.2rem;
}

.foto-nav {
  height: 2rem;
}

h1 {
  font-family: "Young Serif", serif;
  margin: 4rem 0 0 0.3rem;
}

h2 {
  margin-left: 0.5rem;
}

.noticias {
  width: 100%;
  padding: 100px;
}

.noticias-title {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.img-final {
  padding: 1rem;
}

.carousel {
  top: 2rem;
  padding: 1rem;
}

.discografia {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 1rem;
}

.please-item, .with-item, .hard-item, .for-item, .help-item, .rubber-item, .revolver-item, .peppers-item, .tour-item, .white-item, .yellow-item, .abbey-item, .let-item {
  text-align: center;
}
.please-item img, .with-item img, .hard-item img, .for-item img, .help-item img, .rubber-item img, .revolver-item img, .peppers-item img, .tour-item img, .white-item img, .yellow-item img, .abbey-item img, .let-item img {
  max-width: 95%;
  height: auto;
}
.please-item img p, .with-item img p, .hard-item img p, .for-item img p, .help-item img p, .rubber-item img p, .revolver-item img p, .peppers-item img p, .tour-item img p, .white-item img p, .yellow-item img p, .abbey-item img p, .let-item img p {
  margin: 0;
}

.link-please, .link-with, .link-hard, .link-for, .link-help, .link-rubber, .link-revolver, .link-peppers, .link-tour, .link-white, .link-yellow, .link-abbey, .link-let {
  color: #222222;
  text-decoration: underline;
  transition: transform 0.3s ease-in-out;
}
.link-please:hover, .link-with:hover, .link-hard:hover, .link-for:hover, .link-help:hover, .link-rubber:hover, .link-revolver:hover, .link-peppers:hover, .link-tour:hover, .link-white:hover, .link-yellow:hover, .link-abbey:hover, .link-let:hover {
  color: #515153;
  opacity: 0.9;
}
.link-please :hover, .link-with :hover, .link-hard :hover, .link-for :hover, .link-help :hover, .link-rubber :hover, .link-revolver :hover, .link-peppers :hover, .link-tour :hover, .link-white :hover, .link-yellow :hover, .link-abbey :hover, .link-let :hover {
  transform: scale(1.1);
}

.spotify {
  padding: 1rem;
}

.canales a {
  text-decoration: none;
}

p {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.titulo-canales {
  margin-top: 2rem;
}

.image-radio, .img-hemeroteca {
  margin-left: 3rem;
  width: 250px;
  border: 2px solid rgb(0, 0, 0);
}

h3 {
  padding-left: 0.5rem;
}

.text-radio {
  margin-left: 9rem;
}

.radio-yellow {
  margin-left: 3rem;
}

.text-radio-yellow {
  margin-left: 2rem;
}

.image-radio-yellow {
  width: 250px;
  border: 2px solid rgb(0, 0, 0);
}

.text-hemeroteca {
  margin-left: 9rem;
}

.videos {
  margin-top: 2rem;
  margin-left: 0.5rem;
}

iframe.guitarra {
  width: 400px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 1rem;
}
.form-container button {
  margin-top: 0.5rem;
}

.imagen-beatles-firmando {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.imagen-beatles-firmando-a {
  border-radius: 50px;
}

.container-404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container-404 h1 {
  color: #d9534f;
}
.container-404 a {
  color: #337ab7;
  text-decoration: none;
}
.container-404 a:hover {
  text-decoration: underline;
}

@media (max-width: 650px) {
  .discografia {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
  }
}
@media (max-width: 425px) {
  .canales iframe {
    width: auto;
    height: auto;
  }
  footer {
    width: auto;
    height: auto;
  }
  footer .social-media {
    display: list-item;
  }
  .discografia {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
  }
}
@media (max-width: 375px) {
  .discografia {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 768px) {
  iframe.guitarra {
    width: auto;
  }
}

/*# sourceMappingURL=style.css.map */
