@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&family=Young+Serif&display=swap");
@import url(/partials/_queries.scss);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.root {
  font-size: 16px;
}

body {
  font-family: "Montserrat", sans-serif;
}
body ::selection {
  background-color: #8a8989;
}

.foto-nav {
  height: 2rem;
}

h1 {
  font-family: "Young Serif", serif;
  margin: 4rem 0 0 0.5rem;
}

.noticias {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  gap: 70px;
  margin: 100px 250px 100px;
}

.card {
  text-align: center;
  padding: 1px;
}

.carousel {
  top: 2rem;
  padding: 1rem;
}

.discografia {
  display: grid;
  grid-template-columns: repeat(5, 2fr);
  gap: 10px;
  padding: 0.5rem;
}

.please-item, .let-item, .abbey-item, .yellow-item, .white-item, .tour-item, .peppers-item, .revolver-item, .rubber-item, .help-item, .for-item, .hard-item, .with-item {
  text-align: center;
  transition: transform 0.3s ease-in-out;
}
.please-item img, .let-item img, .abbey-item img, .yellow-item img, .white-item img, .tour-item img, .peppers-item img, .revolver-item img, .rubber-item img, .help-item img, .for-item img, .hard-item img, .with-item img {
  max-width: 100%;
  height: auto;
}
.please-item img p, .let-item img p, .abbey-item img p, .yellow-item img p, .white-item img p, .tour-item img p, .peppers-item img p, .revolver-item img p, .rubber-item img p, .help-item img p, .for-item img p, .hard-item img p, .with-item img p {
  margin: 0;
}
.please-item :hover, .let-item :hover, .abbey-item :hover, .yellow-item :hover, .white-item :hover, .tour-item :hover, .peppers-item :hover, .revolver-item :hover, .rubber-item :hover, .help-item :hover, .for-item :hover, .hard-item :hover, .with-item :hover {
  transform: scale(1.1);
}

.link-please, .link-let, .link-abbey, .link-yellow, .link-white, .link-tour, .link-peppers, .link-revolver, .link-rubber, .link-help, .link-for, .link-hard, .link-with {
  color: #222222;
  text-decoration: underline;
}
.link-please:hover, .link-let:hover, .link-abbey:hover, .link-yellow:hover, .link-white:hover, .link-tour:hover, .link-peppers:hover, .link-revolver:hover, .link-rubber:hover, .link-help:hover, .link-for:hover, .link-hard:hover, .link-with:hover {
  color: #515153;
  opacity: 0.9;
}

.canales a {
  text-decoration: none;
}

.titulo-canales {
  margin-top: 2rem;
}

.image-radio, .img-hemeroteca {
  margin-left: 3rem;
  width: 250px;
  border: 2px solid rgb(0, 0, 0);
}

.text-radio {
  margin-left: 9rem;
}

.radio-yellow {
  margin-left: 3rem;
}

.text-radio-yellow {
  margin-left: 2rem;
}

.image-radio-yellow {
  width: 250px;
  border: 2px solid rgb(0, 0, 0);
}

.text-hemeroteca {
  margin-left: 9rem;
}

.videos {
  margin-top: 2rem;
  margin-left: 0.5rem;
}

iframe.guitarra {
  width: 400px;
}

.form-container {
  width: 45%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-left: 1rem;
  display: flex;
  position: relative;
  bottom: 25rem;
}

.img-form {
  width: 780px;
  margin-left: 550px;
  position: relative;
}

footer {
  background-color: #000000;
  color: #fff;
  padding: 1rem;
  text-align: center;
}
footer p {
  margin-top: 10px;
}

.redes-sociales {
  max-width: 900px;
  margin: 0 auto;
}

.social-media a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-size: large;
}
.social-media a .icono-facebook {
  background-color: #4267B2;
}
.social-media a .icono-twitter {
  background-color: #1DA1F2;
}
.social-media a .icono-instagram {
  background-color: #F56040;
}
.social-media a .icono-youtube {
  background-color: #FF0000;
}
.social-media a:hover {
  text-decoration: underline;
}

.footer-logo img {
  width: 100px;
  height: auto;
  background-color: #fff;
}

.footer-info p {
  margin: 1;
  font-size: 15px;
}

@media (max-width: 650px) {
  .discografia {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
  }
}
@media (max-width: 425px) {
  .canales iframe {
    width: auto;
    height: auto;
  }
  footer {
    width: auto;
    height: auto;
  }
  .discografia {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
  }
}
@media (max-width: 375px) {
  .discografia {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
  }
}
@media (max-width: 768px) {
  iframe.guitarra {
    width: auto;
  }
}

/*# sourceMappingURL=style.css.map */
