@media (max-width: 650px){
	.discografia
		{display: grid;
        grid-template-columns: repeat(3, 2fr); }
	}

	@media (max-width: 425px){
    .canales  iframe  {
        width: auto;
        height: auto;
        }
    footer {
        width: auto;
        height: auto;
		.social-media{
			display: list-item;
		}
    }
    .discografia {
        display: grid;
        grid-template-columns: repeat(2, 2fr); 
    }}

	@media (max-width: 375px){
		.discografia
		{display: grid;
        grid-template-columns: repeat(1, 1fr); }
        
	}
	@media (max-width: 768px){
    iframe.guitarra{
        width: auto;
    }  }
